<p>Proposals are submitted as extended abstracts. The page limit is four (4) pages, including references.</p>

<p>Use the CEUR-ART one-column template for submissions. Templates are available in Latex (<a
                href="/assets/download/CEURART.zip">CEURART.zip</a> or <a
                href="https://www.overleaf.com/latex/templates/template-for-submissions-to-ceur-workshop-proceedings-ceur-ws-dot-org/wqyfdgftmcfw"
                target="_blank">Overleaf</a>)
        or ODT (<a href="/assets/download/CEUR-Template-1col.odt">CEUR-Template-1col.odt</a>) format.</p>

<p>Poster and demo submissions will be peer-reviewed by two members of the Program Committee through a single-blind
        review process.</p>